.NavLink{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 9vmax;
  height: 9vmax;
  border: none;
  background: #F16C20;
  color: #EEEEEE;
  position: relative;
  box-shadow: 1px 1px 4px #000;
}
.NavLink-flex{
 text-align: center;
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
}
.NavLink-flex p {
  padding-top: 5px;
}
/* smart watches (just in case) */
@media screen and (min-device-width: 150px)and (max-width: 330px){
    .NavLink {
        display: flex;
        flex-wrap: wrap;
        width: 25vmax;
        height: 25vmax;
        background: #F16C20;
        color: #EEEEEE;
        margin: 8% 0 8% 0;
    }
}
/* phones less than 600px wide*/
@media screen and (min-device-width: 330px)and (max-width: 600px){
    .NavLink {
        display: flex;
        flex-wrap: wrap;
        width: 25vmax;
        height: 25vmax;
        background: #F16C20;
        color: #EEEEEE;
        margin: 8% 0 8% 0;
    }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (min-device-width: 600px)and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (min-device-width: 768px)and (max-width: 900px){

}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-device-width: 900px)and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}
