.Announcements{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1395BA;
  height: 20vh;
}

@media only screen and (max-device-width: 600px) {
  .Announcements {
    display: none;
  }
}