.BestSiteReport {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.BestSiteReport-error{
  width: 70%;
  margin: 0 auto;
}
.Best-Site-initial-message{
  text-align: center;
  height: 100%;
  font-size: 1.6rem;
  width: 60%;
  margin: auto;
}
.BestSiteReport form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  padding: 8px;
}
.BestSiteReport form div {
  padding: 8px;
  flex: 1;
}
.BestSiteReport form textarea {
  width: 100%;
}
