.RequestPassword{
  width: 50%;
  margin: 40px auto;
  text-align: center;
  padding: 15px;
}
.RequestPassword img{
  width: 100px;
  height: 100px;
}
.RequestPassword div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.RequestPassword form{
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.RequestPassword input{
  padding: 3px;
  width: 60%;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid #0D3C55;
}
.RequestPassword button{
  width: 70%;
  margin: 20px auto;
}
