.AskManagerForm{
  position: relative;
  padding: 5px;
}
.AskManagerForm h3{
  text-align: center;
    font-size: xx-large;
}
.AskManagerForm hr{
  margin: 3px auto;
}
.AskManagerForm form{
  margin-top: 20px;
  display: flex;
  flex-flow: column;
    align-items: stretch;
    color: #0D3C55;
}
.select-manager {
    position: relative;
    align-self: center;
    width: 100%;
}
.AskManagerForm form select{
  text-align: center;
  font-size: large;
  margin: 15px 0;
  width: 100%;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #0D3C55;
  border-radius: 2px;
}
.AskManagerForm input{
  padding: 5px 3px 5px 0;
  margin: 10px 5px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0D3C55;
}
.AskManagerForm textarea{
  margin: 2vmax 0;
  border-radius: 15px;
}
.AskManagerForm textarea:read-write,.AskManagerForm textarea:placeholder-shown {
    padding: 2px 10px;
}
/* phones less than 600px wide*/
@media screen and (min-device-width: 330px)and (max-width: 600px){

}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (min-device-width: 600px)and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (min-device-width: 768px)and (max-width: 900px){

}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-device-width: 900px)and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}
