.UserMenu{
  position: relative;
}
.UserMenu button {
  padding: 8px;
  font-size: 1.6em;
  color: #EEE;
  background: none;
  border: none;
  outline: none;
  transition: .2s;
}
.UserMenu button:hover {
  color: #F16C20;
}
.UserMenu button:active {
  color: #F16C20;
}
.UserMenu ul{
  position: absolute;
  top: 55px;
  width: 200px;
  height: auto;
  left: -10px;
  z-index: 1;
  list-style: none;
  background: #0D3C55;
  overflow: hidden;
  transform: scale(0);
  transform-origin: 0 0;
  transition: .2s ease-in-out;
}
.UserMenu li{
  padding: 15px 30px;
  color: #FFFFFF;
  text-decoration: none;
}
#logoutBtn {
  color: black;
  font-size: 1rem;
}
