.LoginForm {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  padding: 15px;

}
.LoginForm #Logo{
  width: 100%;
}
.LoginForm form{
  padding: 15px;
  display: flex;
  flex-flow: column;
}
.LoginForm input{
  padding: 3px;
  width: 60%;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid #0D3C55;
}
.LoginForm input:focus{
    padding: 3px;
    width: 60%;
    margin: 20px auto;
    border: none;
    border-bottom: 2px solid #F16C20;
}
.LoginForm div{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* smart watches (just in case) */
@media screen and (min-device-width: 150px)and (max-width: 320px){
    .LoginForm {
        display: flex;
        justify-content: space-around;
        align-content: stretch;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 15px;
    }
    .LoginForm #Logo{
        width: 100%;
    }
    .LoginForm form{
        padding: 1%;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .LoginForm input{
        padding: 3px;
        width: 80%;
        margin: 20px auto;
        border: none;
        border-bottom: 2px solid #0D3C55;
    }
    .LoginForm input:focus{
        padding: 3px;
        width: 80%;
        margin: 20px auto;
        border: none;
        border-bottom: 2px solid #F16C20;
    }
    .LoginForm div{
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
/* phones less than 600px wide*/
@media screen and (min-device-width: 320px)and (max-width: 600px){
    .login {
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    /* TODO Center the entire LoginForm in the middle of the screen */
    .LoginForm {
        display: flex;
        justify-content: space-around;
        align-content: stretch;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 15px;
    }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (min-device-width: 600px)and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (min-device-width: 768px)and (max-width: 900px){

}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-device-width: 900px)and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}