.RequestPassword{
  display: flex;
  flex-flow: column;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.RequestPassword div>p {
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.RequestPassword img{
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
.RequestPassword .RequestPasswordTitle{
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RequestPassword form{
  margin: 5% auto;
  height: 80%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.RequestPassword input{
  padding: 3px;
  width: 55%;
  border: none;
  border-bottom: 2px solid #0D3C55;
}
.RequestPassword button{
  margin-top: 20%;
  width: 60%;
}
/* smart watches (just in case) */
@media screen and (min-device-width: 150px)and (max-width: 330px) {

}
  /* phones less than 600px wide*/
@media screen and (max-width: 600px){
  .RequestPassword {
    justify-content: flex-start;
  }
  .RequestPassword form {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
  .RequestPassword input{
    font-size: larger;
    width: 80%;
  }
  .RequestPassword button{
    width: 80%;
  }
  .RequestPassword div>p {
    font-size: x-large;
    text-align: center;
    margin: 20px;
  }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (min-device-width: 600px)and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (min-device-width: 768px)and (max-width: 900px){

}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-device-width: 900px)and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}