.Dashboard-flex-container {
  position: relative;
  width: 90%;
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.Dashboard-nav-container {
  width: 75%
}
.Dashboard-form-container {
  width: 25%
}
.announcements {
  width: 100%;
  position: relative;
  transition: all ease-in-out 0.3s;
  height: 20vh;
  background: #1395BA;
}
.announcements-height-zero{
  height: 0;
}
.padding-top{
  padding-top: 10vh;
}
#toggleAnnouncements{
  width: 30px;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 15px);
  z-index: 50px;
  background: #1f1f1f;
  color: #fff;
  border: none;
}
#toggleAnnouncements:hover{
  cursor: pointer;
}
/* smart watches (just in case) */
@media screen and (max-width: 330px) {

}
/* phones less than 600px wide*/
@media screen and (max-width: 600px){
  .Dashboard-form-container{
    width: 100%;
  }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (max-width: 768px){
    .Dashboard-nav-container{
      width: 100%;
      margin: 20px 0 10px 0;
    }
    .Dashboard-form-container{
      width: 60%;
      margin: 8% auto;
    }
    .announcements {
      display: none;
    }
}

/* tablets less than 900px wide*/
@media screen and (max-width: 900px){

}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-width: 768px) and (max-width: 1200px){
  .Dashboard-nav-container{
    width: 60%;
    margin: auto;
  }
  .Dashboard-form-container{
    width: 40%;
  }
}
/* Laptops with hiDPI */
@media screen and (max-width: 1440px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}
