.Header{
  display: flex;
  align-items: center;
  background: #0D3C55;
  color: #FFFFFF;
  height: 10vh;
}
.Header h2{
  margin-left: 20px;
}
.Header #Logo {
  margin-left: auto;
  padding-right: 20px;
  height: 100%;
}
.Header-user {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  margin: 0 10px;
}
.Header-user p {
  padding: 0 10px;
  font-size: 1.3rem;
}
/* smart watches (just in case) */
@media screen and (min-device-width: 150px)and (max-width: 330px){
  .Header {
    display: none;
  }
}
/* phones less than 600px wide*/
@media screen and (min-device-width: 330px)and (max-width: 600px){
    .Header #Logo {
        height: 60%;
    }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (min-device-width: 600px)and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (min-device-width: 768px)and (max-width: 900px){
  
}

/* tablets / Laptops more than 900px  and less than 1200px wide*/
@media screen and (min-device-width: 900px)and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}
