.Header{
  display: flex;
  align-items: center;
  background: #0D3C55;
  color: #FFFFFF;
  height: 10vh;
}
.Header h2{
  margin-left: 20px;
}
.Header #Logo {
  margin-left: auto;
  padding-right: 20px;
  height: 100%;
}

@media only screen and (max-width: 600px){
  .Header #Logo {
    height: 60%;
  }
}