.Nav{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 50px;
}
/* smart watches (just in case) */
@media screen and (min-device-width: 150px)and (max-width: 330px){
  .Nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
/* phones less than 600px wide*/
@media screen and (max-width: 600px){
  .Nav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}
/* phones bigger than 600px & less than 768px wide*/
@media screen and (max-width: 768px){

}

/* tablets less than 900px wide*/
@media screen and (max-width: 900px){
  .Nav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 1200px){

}

/* Laptops and Monitors more than 1200px  and less than 1800px wide*/
@media screen and (min-device-width: 1200px)and (max-width: 1800px){

}
/* Huge HD Monitors more than 1800px wide*/
@media screen and (min-device-width: 1800px) {

}
