.Events{
  width: 60%;
  min-height: 50px;
  margin: 10px;
  display: flex;
  box-sizing: border-box;
}
.Events-date{
  font-size: 1.4rem;
  width: 40px;
  padding: 8px;
  border-right: 2px solid #1AC3F2;
}
.Events-event{
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
}
