.Spinner {
  margin: 30px auto;
  border: 16px solid transparent;
  border-left: 16px solid #164055;
  border-right: 16px solid #164055;
  border-bottom: 16px solid #164055;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
